/* Tabellenstile */
body {
  font-family: Arial, sans-serif;
  background-color: #f1e6b4;
  color: #1e7289;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 4px 0; /* Noch weniger Außenabstand */
  background-color: #bccfd8;
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1); /* Noch leichterer Schatten */
  font-size: 0.6rem; /* Kleinere Schriftgröße */
  overflow-x: auto; /* Für horizontales Scrollen bei kleinen Bildschirmen */
}

th, td {
  text-align: left;
  padding: 2px 6px; /* Reduziertes Padding */
  border: 1px solid #ac2525;
}

th {
  background-color: #1e7289;
  color: rgb(248, 246, 246);
  font-weight: bold;
  font-size: 0.65rem; /* Noch kleinere Schriftgröße für die Überschrift */
  text-transform: uppercase; /* Überschriften in Großbuchstaben */
}

td {
  color: #333;
  font-size: 0.9rem; /* Einheitlich kleinere Schriftgröße */
  font-weight: bold; /* Starke Schrift */
}

/* Kleinere Tabellenbreite */
#tableContainer {
  max-width: 250px; /* Noch schmalere Tabelle */
  margin: 0 auto; /* Zentriert die Tabelle */
  padding: 2px; /* Reduzierter Innenabstand */
}

/* Responsive Design für Tabellen */
@media (max-width: 768px) {
  table {
    font-size: 0.55rem; /* Noch kleinere Schriftgröße für Mobilgeräte */
  }

  th, td {
    padding: 2px 3px; /* Minimaleres Padding für kleine Bildschirme */
  }

  #tableContainer {
    max-width: 100%; /* Volle Breite auf kleinen Geräten */
  }
}

/* Logo-Stile */
#logoContainer {
  display: flex;
  justify-content: center; /* Zentriert das Logo horizontal */
  align-items: center; /* Zentriert vertikal, falls nötig */
  height: auto;
  width: 100%;
  margin-bottom: 10px; /* Abstand unter dem Logo */
}

.btn-delete {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-delete:hover {
  background-color: darkred;
}

/* Logo-Bild-Stile */
#logoContainer img {
  max-width: 70px; /* Noch kleinere maximale Breite des Logos */
  height: auto; /* Proportionale Höhe beibehalten */
  border-radius: 5px; /* Optionale Abrundung für ein moderneres Design */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* Noch leichterer Schatten */
}
