/* Allgemeines Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f1e6b4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* App-Container */
.app-container {
  text-align: center;
  background: #aec9ba;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
}

/* Firmenlogo */
.logo_neu.img {
  max-width: 100px;
  margin-bottom: 20px;
}

/* Überschriften */
h1 {
  font-size: 24px;
  color: #1a6c56;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  color: #912727;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin: 15px 0 10px;
  color: #444;
}

/* QR-Code */
.qr-code {
  margin: 20px 0;
}

#qrcode {
  margin: 0 auto;
}

/* Zeitstempel */
#timestamp {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

/* Button */
button {
  background-color:rgb(199, 121, 66);
  color: rgb(30, 22, 22);
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1d7a94;
}

/* Formular */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #201919;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #28a745;
  color: rgb(5, 3, 3);
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #f1e6b4;
}

/* Link */
a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
