/* Allgemeines Layout */
.app-container {
    text-align: center;
    padding: 20px;
  }
  
  /* Styling für das Firmenlogo */
  .firmen-logo img {
    margin: 20px;
  }
  
  /* Styling für das Anmeldeformular */
  .mitarbeiter-info {
    margin: 20px 0;
  }
  
  /* Styling für den QR-Code Container */
  #qr-code-container {
    margin-top: 20px;
  }
  
  /* Styling für den Button */
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  