:root {
    --primary-color: #b51c1c;   /* Rot */
    --secondary-color: #32cb00; /* Grün */
    --highlight-color: #3531FF; /* Blau */
    --background-color: #f2f2f2;
    --border-color: black;
    --font-family: Arial, sans-serif;
    --font-size: 14px;
  }
  
  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    font-size: var(--font-size);
    padding: 10px 8px;
    text-align: left;
  }
  
  th {
    font-weight: normal;
  }
  
  .tg-zz2x { background-color: var(--primary-color); color: white; font-weight: bold; }
  .tg-dxqr { color: var(--primary-color); text-align: center; }
  .tg-0r18, .tg-p1nr { text-align: center; }
  .tg-u3ks { background-color: var(--secondary-color); font-weight: bold; color: white; }
  .tg-fymr { font-weight: bold; color: var(--highlight-color); }
  
  .login-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: darkred;
  }
  