/* Body-Stil */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(227, 193, 82); /* Hintergrundfarbe */
  justify-content: center; /* Zentrierung des Inhalts */
  display: flex; /* Flexbox aktivieren */
  flex-direction: column; /* Elemente vertikal anordnen */
  align-items: center; /* Horizontale Zentrierung */
  height: 100%; /* Vollbildhöhe */
  margin: 0; /* Entfernen des Standardmargins */
  padding: 10px; /* Etwas Padding für den Abstand */
}

/* Allgemeine Tabelle */
table {
  width: 80%; /* Tabelle auf 80% der Seite setzen */
  margin: 20px auto; /* Tabelle zentrieren */
  border-collapse: collapse; /* Ränder zusammenführen */
  font-size: 12px; /* Schriftgröße verkleinern */
}

/* Tabellenzellen */
th, td {
  padding: 6px 8px; /* Weniger Padding */
  border: 1px solid #ddd; /* Dünne Ränder */
  text-align: left; /* Text links ausrichten */
}

/* Tabellenkopf */
th {
  background-color: #4CAF50; /* Grüne Hintergrundfarbe für den Kopfbereich */
  color: white; /* Weißer Text */
  font-weight: bold; /* Fett gedruckter Text */
}

/* Alternierende Zeilen */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Helle Hintergrundfarbe für gerade Zeilen */
}

tr:nth-child(odd) {
  background-color: #f8f7f1; /* Weiße Hintergrundfarbe für ungerade Zeilen */
}

/* Hover-Effekt für Zeilen */
tr:hover {
  background-color: #a06666; /* Hover-Effekt für Zeilen */
}
