
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 8px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 8px;
    word-break: normal;
}
.tg .tg-zz2x {
    background-color: #b51c1c;
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-dxqr {
    border-color: inherit;
    color: #fe0000;
    text-align: center;
    vertical-align: top;
}
.tg .tg-0r18 {
    border-color: inherit;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
}
.tg .tg-doeh {
    border-color: inherit;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.tg .tg-dxle {
    border-color: inherit;
    color: #32cb00;
    text-align: center;
    vertical-align: top;
}
.tg .tg-p1nr {
    border-color: inherit;
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}
.tg .tg-lm6i {
    border-color: inherit;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top;
}
.tg .tg-3kwv {
    border-color: inherit;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-l6li {
    border-color: inherit;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
}
.tg .tg-0p48 {
    border-color: inherit;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-4k6h {
    border-color: inherit;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-fymr {
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}
.tg .tg-u3ks {
    background-color: #34ff34;
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-20mg {
    background-color: #ffc702;
    border-color: inherit;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}
.tg .tg-73a0 {
    border-color: inherit;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}
.tg .tg-zd5i {
    border-color: inherit;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
}

  