/* QR_Anmeldung.css */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1e6b4;
  }
  
  .app-container {
    background-color: #4B6E7C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    color:#333;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  element {
    border-radius: 50px 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input[type="submit"],
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #919fa1d0;
    color: #f1e6b4;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #f1e6b4;
    border-radius: 50px;
  }
  
  button {
    margin-top: 20px;
    border-radius: 80px;
  }
  
  #generated-password {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 80px;
    display: none;
  }
  
  a {
    color: #f1e6b4;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 10px;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: underline;
  
  }
  